extends layout 

block content
    -data = data || {}

    if errors 
        ul 
            for error in errors 
                li= error.msg
                //li= arasina bosluk konulmamali! yoksa link fonksiyonu calismayacaktir. Pug kodlamada bosluklar önemlidir!
    form(action="." method="POST" class="form-registration")
        label(for="name") Isim:
        input(
            type="text"
            id="name"
            name="name"
            class="form-control"
            value=data.name
        )

        label(for="email") Email:
        input(
            type="email"
            id="email"
            name="email"
            class="form-control"
            value=data.email
        )

        input(type="submit" value="Giris Yap" class="btn btn-lg btn-primary btn-block")
